@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');


*{
      margin: 0;
      padding: 0;
      user-select: none;      
}
body{
      font-family: 'Yanone Kaffeesatz', sans-serif;
}
#hero {
            height:100vh;
            width:100%;
            
            display:flex;
            align-items:center;
            justify-content: center;
}

#hero::after {
      width:100%;
      height:100%;
      content: '';
      position:absolute;
      z-index:10;
      top:0;
      left:0;
      background:rgba(0,0,0,0.7)
}

#hero video {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:5;
      object-fit:cover;
      font-family:'object-fit: cover';
}

#hero .caption {

      position:relative;
      z-index:20;
      text-align:center;
      color:#ffffff;
}

#hero .caption h1 {
      letter-spacing: 1px;
}

#hero .caption h2 {
      font-weight:400;
      font-size:1.5rem;
      margin-bottom: 20px;
      letter-spacing: 1px;

}
.caption a{
      border: 1px solid #3AB54A;
      text-decoration: none;
      color: white;
      padding: 15px 30px;
      font-size: 22px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      display: inline-block;
}
 
.caption a:before {
      content: '';
      display: block;
      position: absolute;
      background: #3AB54A;
      border: 1px solid #3AB54A;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
  }
  
  .caption a:hover:before {
      left: 0;
      z-index: -1
  }
  
.share_button{
      z-index: 999;
      position: relative;
      text-align: center;
      width: 200px;
      margin: 0 auto;
      border-radius: 25px;
      border: 1px solid #12A89D;
      padding: 10px 30px;
      overflow: hidden;
      margin-top: 250px;
      background-color: white;     
}
.share_frontage, .shar_social_links{
      display: inline-block;
} 

.social_links a{
      text-decoration: none;
      color: black;
      display: inline-block;
      margin-right: 15px;
      opacity: 0;
}
.social_links a:last-child{
      margin-right: 0;
}
.share_frontage p{
      color: white;
      line-height: 20px;
      margin-bottom: 0;
}
  
.share_button:before {
      content: 'share';
      color: white;
      font-size: 20px;
      letter-spacing: 3px;
      padding-top: 6px;
      display: block;
      text-transform: uppercase;
      position: absolute;
      background: #12A89D;
      border: 1px solid #12A89D;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
  }
  
  .share_button:hover:before {
      
      left: -100%;
      z-index: -1;
      transition: all 1s linear;
  }
  .share_button:hover .social_links a{
        transform: scale(1.1);
        transition: all 2s linear;
        opacity: 1;
  }